project         = "my-project-id"
project_number  = "############"
region          = "us-central1"
environment     = "production"
image           = "gcr.io/my-project-id/conduit"
location        = "us-central1"
auth_secret_key = "my-very-sensitive-secret"
auth_issuer     = "https://conduit/api"
db_user         = "my-db-user"
db_password     = "my-very-sensitive-db-password"
